click==7.1.2
ffmpeg-python==0.2.0
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.14.1
librosa==0.8.0
libsndfile==1.0.post31
llvmlite==0.35.0
MarkupSafe==1.1.1
numba==0.52.0
numpy==1.19.5
psycopg2==2.8.6
SoundFile==0.10.3.post1
Werkzeug==1.0.1
