<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emotions</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../static/slick/slick.css" rel='stylesheet' />
    <link href="../static/slick/slick-theme.css" rel='stylesheet' />
    <link href="../static/css/templatemo-real-dynamic.css" rel="stylesheet" />
    <!--

TemplateMo 547 Real Dynamic

https://templatemo.com/tm-547-real-dynamic

-->
</head>

<body>
    <div class="tm-container">
        <div class="tm-site-header"></div> <!-- tm-site-header -->
        <div class="tm-site-header-overlay">
            <div class="tm-header-stripe ml-auto"></div>
            <div class="tm-header-stripe tm-header-stripe-short ml-auto"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 tm-site-header-left">
                        <h1 class="text-uppercase tm-site-name">Emotions</h1>
                        <p class="text-white mb-0 tm-site-desc">Tell us how you really feel...</p>
                    </div>
                    <div class="col-lg-8 tm-site-header-right">
                        <!--Navbar-->
                        <nav class="navbar navbar-expand-lg">
                            <!-- Collapse button -->
                            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation"><span class="dark-blue-text"><i
                                        class="fas fa-bars text-white"></i></span></button>
                            <!-- Collapsible content -->
                            <div class="collapse navbar-collapse tm-nav" id="navbarNav">
                                <!-- Links -->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link tm-nav-link" href="index.html">Home</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link tm-nav-link" href="#">Emotions <span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link tm-nav-link" href="gallery.html">Gallery</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link tm-nav-link" href="team.html">Team</a>
                                    </li>
                                </ul>
                                <!-- Links -->
                            </div>
                            <!-- Collapsible content -->
                        </nav>
                        <!--/.Navbar-->
                    </div> <!-- col -->
                </div> <!-- row -->
            </div> <!-- container fluid -->
        </div> <!-- tm-site-header-overlay -->
        <div class="tm-header-stripe w-100"></div>
    </div>
    <div class="tm-container">
        <div class="parallax-window">
            <img src="../static/img/emotion_peeps.jpg" width=100%>
        </div>
    </div>

    <div class="tm-container bg-white">
        <div class="tm-header-stripe w-100"></div>
        <div class="container-fluid">
            <!--Intro-->
            <section class="row tm-mb-1">
                <h2 class="col-12 text-center tm-text-primary tm-my-1 tm-intro-text">Visualizing Emotions</h2>
                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                        <i class="fas fa-truck-moving fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">Calm</h3>
                        <p>What is calm</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                        <i class="fas fa-box-open fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">Happy</h3>
                        <p>What is Happy
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                        <i class="fas fa-people-carry fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">Surprised</h3>
                        <p>What is Surprised?</p>
                    </div>
                </div>
            </section>

            <!-- Services -->
            <div class="row tm-mb-1">
                <div class="col-lg-4">
                    <div class="tm-bg-gray tm-box-2">
                        <i class="fas fa-3x fa-sign tm-mb-3"></i>
                        <h3 class="tm-text-primary tm-h3">Sad</h3>
                        <p class="tm-mb-4">What is sad.</p>
                        <ul class="tm-mb-4">
                            <li>.01 Fusce aliquam aliquam</li>
                            <li>.02 Bibendum quam elementum</li>
                            <li>.03 Nam dapibus diam</li>
                        </ul>
                        <a href="#" class="d-block text-right btn-pad btn-text">More Details...</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <i class="fas fa-mobile-alt fa-5x tm-icon-2 d-block text-center"></i>
                    <div class="tm-bg-gray tm-box-2">
                        <h3 class="tm-text-primary tm-h3">Angry</h3>
                        <p class="tm-mb-5">what is angry</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary rounded-0">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <i class="fas fa-sms fa-5x tm-icon-2 d-block text-center"></i>
                    <div class="tm-bg-gray tm-box-2">
                        <h3 class="tm-text-primary tm-h3">Fearful</h3>
                        <p class="tm-mb-5">what is fearful</p>
                        <div class="text-center"><a href="#" class="btn btn-secondary rounded-0">Read More</a></div>
                    </div>
                </div>
            </div>
            <!-- Services -->
            <div class="row tm-mb-1">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4">
                    <i class="fas fa-mobile-alt fa-5x tm-icon-2 d-block text-center"></i>
                    <div class="tm-bg-gray tm-box-2">
                        <h3 class="tm-text-primary tm-h3">Disgust</h3>
                        <p class="tm-mb-5">what is disgust</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary rounded-0">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
        <!-- Testimonials -->

        <div class="row tm-mb-7">
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">

            </div>
            <div class="row tm-mb-7">
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">

                </div>
            </div>
        </div>

        <div>
            <footer class="row">
                <p class="mb-0 w-100 text-center col-12">
                    Company &copy; 2020 Company Name

                    - Real Dynamic by <a rel="nofollow" href="https://templatemo.com"
                        class="tm-text-link">TemplateMo</a>
                </p>
            </footer>
        </div> <!-- container-fluid -->
    </div> <!-- tm-container -->

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="slick/slick.min.js"></script>
    <script src="js/tooplate-script.js"></script>
    <script>
        $(document).ready(function () {
            // Testimonials carousel
            $('.tm-carousel').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1
            });
        });

    </script>
</body>

</html>