<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Visuals</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/record.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1 class="display-4">Record a sound!</h1>
                    <p class="lead">Record a 5-10 second clip of speech and we will try to determine the major emotion.</p>
                    <hr class="my-4">
                    <button class="btn btn-success btn-lg" role="button" id="startRecord" onclick="startAudioRecord()">Start recording</button>
                    <button class="btn btn-danger btn-lg" role="button" id="stopRecord" disabled onclick="stopAudioRecord()">End recording</button>
                    <hr class="my-4">
                    <ol id="recordingsList"></ol>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="../static/js/record.js"></script>
</body>
</html>