<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emotions</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../static/css/templatemo-real-dynamic.css" rel="stylesheet" />
    <!--

TemplateMo 547 Real Dynamic

https://templatemo.com/tm-547-real-dynamic

-->
</head>

<body>
    <div class="tm-container">
        <div class="tm-site-header"></div> <!-- tm-site-header -->
        <div class="tm-site-header-overlay">
            <div class="tm-header-stripe ml-auto"></div>
            <div class="tm-header-stripe tm-header-stripe-short ml-auto"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 tm-site-header-left">
                        <h1 class="text-uppercase tm-site-name">Emotions</h1>
                        <p class="text-white mb-0 tm-site-desc">Tell us how you feel...</p>
                    </div>
                    <div class="col-lg-9 tm-site-header-right">
                        <!--Navbar-->
                        <nav class="navbar navbar-expand-lg">
                            <!-- Collapse button -->
                            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation"><span class="dark-blue-text"><i
                                        class="fas fa-bars text-white"></i></span></button>
                            <!-- Collapsible content -->
                            <div class="collapse navbar-collapse tm-nav" id="navbarNav">
                                <!-- Links -->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link tm-nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link tm-nav-link" href="/emotions">Emotions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link tm-nav-link" href="/gallery">Test Clips</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link tm-nav-link" href="#">Team <span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                </ul>
                                <!-- Links -->
                            </div>
                            <!-- Collapsible content -->
                        </nav>
                        <!--/.Navbar-->
                    </div> <!-- col -->
                </div> <!-- row -->
            </div> <!-- container fluid -->
        </div> <!-- tm-site-header-overlay -->
        <div class="tm-header-stripe w-100"></div>
    </div>
    <div class="tm-container">
        <div class="parallax-window">
            <img src="../static/img/ball_faces.jpg" width=100%>
        </div>

        <div class="tm-container bg-white">
            <div class="tm-header-stripe w-100"></div>
            <div class="container-fluid">
                <!--Intro-->
                <section class="row tm-mb-1">
                    <div class="col-12 text-center mx-auto tm-about-box">
                        <h2 class="tm-text-primary tm-my-1 tm-mb-5 tm-intro-text">Meet the Team</h2>

                    </div>
                </section>


                <section class="row tm-mb-8">
                    <h3 class="col-12 tm-text-primary text-center tm-mb-5"></h3>
                    <div class="col-12">
                        <div class="tm-members">
                            <div class="tm-member">
                                <figure class="text-center effect-bubba mb-1">
                                    <img src="../static/img/Elliot.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <div class="tm-member-social">
                                            <a href="https://github.com/emcfarland" target="_blank">Github</a>

                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="text-center">
                                    <span class="d-block mb-1 tm-name">Elliott McFarland</span>
                                </div>
                            </div>
                            <div class="tm-member">
                                <figure class="text-center effect-bubba mb-1">
                                    <img src="../static/img/Celeste.jfif" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <div class="tm-member-social">
                                            <a href="https://github.com/celeste1030" target="_blank">Github</a>

                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="text-center">
                                    <span class="d-block mb-1 tm-name">Celeste Muniz</span>
                                </div>
                            </div>

                            <div class="tm-member">
                                <figure class="text-center effect-bubba mb-1">
                                    <img src="../static/img/Saroja.jfif" alt="Image" class="img-fluid" width="100%">
                                    <figcaption>
                                        <div class="tm-member-social">
                                            <a href="https://github.com/shreeniv" target="_blank">Github</a>

                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="text-center">
                                    <span class="d-block mb-1 tm-name">Saroja Shreenivasan</span>
                                </div>
                            </div>
                            <div class="tm-member">
                                <figure class="text-center effect-bubba mb-1">
                                    <img src="../static/img/Sai.jfif" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <div class="tm-member-social">
                                            <a href="https://github.com/prasanna0913" target="_blank">Github</a>

                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="text-center">
                                    <span class="d-block mb-1 tm-name">Sai Prasanna</span>
                                </div>
                            </div>
                            <div class="tm-member">

                                <figure class="text-center effect-bubba mb-1">
                                    <img src="../static/img/Tim.jfif" alt="Image" class="img-fluid" width="100%">
                                    <figcaption>
                                        <div class="tm-member-social">
                                            <a href="https://github.com/timsamson" target="_blank">Github</a>

                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="text-center">
                                    <span class="d-block mb-1 tm-name">Tim Samson</span>
                                </div>

                            </div>
                            <div class="tm-member">
                                <figure class="text-center effect-bubba mb-1">
                                    <img src="../static/img/sara.jfif" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <div class="tm-member-social">
                                            <a href="https://github.com/Ssimoes48" target="_blank">Github</a>

                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="text-center">
                                    <span class="d-block mb-1 tm-name">Sara Simoes</span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>


            <footer class="row">
                <p class="mb-0 w-100 text-center col-12">
                    <a href="https://github.com/timsamson/audible_emotion_recognition.git" target="_blank">Upgraded
                        Potatoes &copy; 2021 </a>
                </p>
            </footer>
        </div> <!-- container-fluid -->
    </div> <!-- tm-container -->

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/tooplate-script.js"></script>
</body>

</html>