<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="../static/Img/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emotions</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../static/css/templatemo-real-dynamic.css" rel="stylesheet" />
    <!--

TemplateMo 547 Real Dynamic

https://templatemo.com/tm-547-real-dynamic

-->
</head>

<body>
    <div class="tm-container">
        <div class="tm-site-header"></div> <!-- tm-site-header -->
        <div class="tm-site-header-overlay">
            <div class="row">
                <div class="col-lg-3 tm-site-header-left text-center">
                    <p><a href="/">
                            <img src="../static/img/emotion_predictor_logo.png" alt="Emotion Predictor" width="90%"
                                max-width=" 100px text">
                        </a></p>
                    <!-- <H3 class="text-white">Emotion Predictor</H3> -->
                </div>
                <div class="col-lg-9 tm-site-header-right">
                    <div class="tm-header-stripe ml-auto"></div>
                    <div class="tm-header-stripe tm-header-stripe-short ml-auto"></div>
                    <div class="navbar navbar-expand-lg ">
                        <!-- Collapse button -->
                        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation"><span class="dark-blue-text"><i
                                    class="fas fa-bars text-white"></i></span></button>
                        <!-- Collapsible content -->
                        <div class="collapse navbar-collapse tm-nav" id="navbarNav">
                            <!-- Links -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/emotions">Emotions<span
                                            class="sr-only"></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/gallery">Test Clips<span
                                            class="sr-only"></span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link tm-nav-link" href="/viz">Visualization <span
                                            class="sr-only"></span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="/team">Team <span class="sr-only"></span></a>
                                </li>
                            </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-container">
        <div class="tm-header-stripe w-100"></div>
        <img src="../static/img/ball_faces.jpg" width=100%>
    </div>
    <div class="tm-container bg-white">
        <div class="tm-header-stripe w-100"></div>
        <div class="container-fluid">
            <!--Intro-->
            <section class="row tm-mb-1">
                <div class="text-center mx-auto tm-about-box">
                    <h2 class="tm-text-primary tm-intro-text">Meet the Team</h2>
                </div>
                <div class="col-12">
                    <div class="tm-members">

                        <div class="tm-member">
                            <figure class="text-center effect-bubba mb-1">
                                <img src="https://avatars.githubusercontent.com/u/69584893?s=400&u=32fbc7d0984eee60e9a9e9a0567448792bfbfbe8&v=4"
                                    alt="Image" class="img-fluid">
                                <figcaption>
                                    <div class="tm-member-social">
                                        <a href="https://github.com/emcfarland" target="_blank">Github</a>

                                    </div>
                                </figcaption>
                            </figure>
                            <div class="text-center">
                                <span class="d-block mb-1 tm-name">Elliott McFarland</span>
                            </div>
                        </div>

                        <div class="tm-member">
                            <figure class="text-center effect-bubba mb-1">
                                <img src="https://avatars.githubusercontent.com/u/69986268?s=400&u=56c8845d7b3766f136bcfc886934cc6a84dcb9e5&v=4"
                                    alt="Image" class="img-fluid">
                                <figcaption>
                                    <div class="tm-member-social">
                                        <a href="https://github.com/celeste1030" target="_blank">Github</a>
                                    </div>
                                </figcaption>
                            </figure>
                            <div class="text-center">
                                <span class="d-block mb-1 tm-name">Celeste Muniz</span>
                            </div>
                        </div>

                        <div class="tm-member">
                            <figure class="text-center effect-bubba mb-1">
                                <img src="https://avatars.githubusercontent.com/u/69985129?s=400&u=8d953c767c7a2fc29c4499d1e41c64237b22e910&v=4"
                                    alt="Image" class="img-fluid">
                                <figcaption>
                                    <div class="tm-member-social">
                                        <a href="https://github.com/shreeniv" target="_blank">Github</a>

                                    </div>
                                </figcaption>
                            </figure>
                            <div class="text-center">
                                <span class="d-block mb-1 tm-name">Saroja Shreenivasan</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <div class="tm-members">
                        <div class="tm-member">
                            <figure class="text-center effect-bubba mb-1">
                                <img src="https://avatars.githubusercontent.com/u/70617845?s=400&u=14de51b4d09740fc8753635c00395a330109c66b&v=4"
                                    alt="Image" class="img-fluid">
                                <figcaption>
                                    <div class="tm-member-social">
                                        <a href="https://github.com/prasanna0913" target="_blank">Github</a>

                                    </div>
                                </figcaption>
                            </figure>
                            <div class="text-center">
                                <span class="d-block mb-1 tm-name">Sai Prasanna</span>
                            </div>
                        </div>

                        <div class="tm-member">
                            <figure class="text-center effect-bubba mb-1">
                                <img src="https://avatars.githubusercontent.com/u/9625746?s=400&v=4" alt="Image"
                                    class="img-fluid">
                                <figcaption>
                                    <div class="tm-member-social">
                                        <a href="https://github.com/timsamson" target="_blank">Github</a>
                                    </div>
                                </figcaption>
                            </figure>
                            <div class="text-center">
                                <span class="d-block mb-1 tm-name">Tim Samson</span>
                            </div>
                        </div>

                        <div class="tm-member">
                            <figure class="text-center effect-bubba mb-1">
                                <img src="https://avatars.githubusercontent.com/u/68613710?s=400&u=36291f3e6fa3a237e80681e6a023225446e08f00&v=4"
                                    alt="Image" class="img-fluid">
                                <figcaption>
                                    <div class="tm-member-social">
                                        <a href="https://github.com/Ssimoes48" target="_blank">Github</a>
                                    </div>
                                </figcaption>
                            </figure>
                            <div class="text-center">
                                <span class="d-block mb-1 tm-name">Sara Simoes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="tm-container container-fluid">
        <footer class="row">
            <p class="mb-0 w-100 text-center col-12">
                <a href="https://github.com/timsamson/audible_emotion_recognition.git" target="_blank">Upgraded
                    Potatoes &copy; 2021 </a>
            </p>
        </footer>
    </div>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/parallax.min.js"></script>
    <script src="../static/js/tooplate-script.js"></script>
</body>

</html>